/* Estilos para el banner */
.banner {
  background-color: #00529c;
  /* Color de fondo del banner */
  color: #fff;
  /* Color del texto */
  padding: 15px;
  /* Espaciado interno del banner */
  text-align: center;
  /* Centra el texto en el banner */
  font-size: 10px;
  /* Tamaño de la fuente del título */
  font-weight: bold;
  /* Peso de la fuente */
  margin-bottom: 20px;
  /* Espaciado debajo del banner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra del banner */
  /*font-family: 'New Order Bold', Helvetica, Arial, Lucida, sans-serif; /* Fuente del título */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 8px 8px 0 0;
  /* Bordes redondeados esquinas superiores*/
}

.custom-card {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
  /* Sombra del contenedor */
  position: relative;
  /* Asegura que el overlay y spinner se posicionen correctamente */

}

.mat-card-header {
  background-color: #00796b;
  /* Color verde corporativo */
  color: white;
  padding: 16px;
  text-align: center;
  /* Centra el contenido del encabezado */
}

.header-content {
  width: 100%;
  /* Asegura que el contenedor ocupe todo el ancho del encabezado */
  display: flex;
  justify-content: center;
  /* Centra el contenido horizontalmente */
  align-items: center;
  /* Opcional: centra verticalmente si es necesario */
}

.header-title {
  font-size: 1.5rem;
  /* Tamaño del texto */
  font-weight: bold;
  /* Hace el texto más grueso */
  margin: 0;
  /* Elimina el margen por defecto */
  color: #000000;
  /* Color blanco para el texto */
}

.content-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn-upload {
  display: flex;
  align-items: center;
  background-color: #00529c;
  /* Azul claro */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  /* Opcional: bordes redondeados */
  margin-left: 16px;  
  /* Cambia el color del texto del botón */
  /* .mat-icon {
    color: white;
  } */
}

.btn-download {
  display: flex;
  align-items: center;
  background-color: #00529c;
  /* Verde claro */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  /* Opcional: bordes redondeados */
  margin-right: 16px;
  /* Espacio entre el botón de Descargar y el de Cargar */
}

/* Estilos para el botón Limpiar */
.btn-clear {
  display: flex;
  align-items: center;
  background-color: #bf0811;  
  color: rgb(248, 246, 246); 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px; 
  margin-left: 16px; 
  transition: background-color 0.3s ease;  
}

.btn-upload:hover {
  background-color: #2068a8;
  /* Color rojo más oscuro en hover */
}
.btn-download:hover {
  background-color: #2068a8;
  /* Color rojo más oscuro en hover */
}
.btn-clear:hover {
  background-color: #c7272f;
  /* Color rojo más oscuro en hover */
}

.btn-upload,
.btn-download,
.btn-clear {
  border-radius: 4px;
  padding: 8px 16px;
}

.btn-upload mat-icon,
.btn-download mat-icon,
.btn-clear mat-icon {
  margin-right: 8px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

::ng-deep .mat-tooltip {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
}

.mat-mdc-button:not(:disabled) {
  color: #f1f0f0;
}