<mat-toolbar color="primary" class="nav-style">
    <mat-toolbar-row>
        <h1>Brasilia Mipres</h1>
        <button class="custom-btn" mat-button (click)="param('param003')">Reporte</button>
        <button class="custom-btn" mat-button (click)="param('param004')">Actualizar</button>
        <span class="example-spacer"></span>
        <a mat-mini-fab matTooltip="Cerrar sesion" (click)="logOut()">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Cerrar sesion">exit_to_app</mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>