.custom-card {
    height: 94vh;
    border: 1px gray solid;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(141, 140, 140, 0.359);
    z-index: 999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: red;
}

.center-header {
    display: flex;
    justify-content: center;
    background: #00529c;
    color:white;
  }
  
  .center-header mat-card-title {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .center-header h4 {
    margin: 0;
    text-align: center;
    margin-bottom: 20px; /* Añade espacio debajo del título */
  }

  .mat-button-toggle-checked {
    background-color: #00529c !important; /* Color de fondo del botón seleccionado */
    color: white !important; /* Color del texto del botón seleccionado */
}

.mat-button-toggle:hover{
  background-color: #4496df !important;
  color: white !important;
}